<article class="cart_product cartRows" id="row${index}">
   <img
      class="cart_product-img"
      src=""
      alt=""
   />
   <p class="cart_product-title"> </p>
   <div class="cart_product_description-container">
      <p class="cart_product-title"></p>
      <div class="btn-container">
         <button type="submit">Delete</button>
         <button type="submit">Buy Now</button>
      </div>
   </div>
   <div class="cart_product_quantity-container">
      <div class="more_less-btn">
         <button type="submit">+</button>
         <p class="cart_product_quantity"></p>
         <button type="submit">-</button>
      </div>
      <p class="cart_product_total-quantity">
         Quantity Available: 
      </p>
   </div>
   <p class="cart_product-price">$</p>
</article>
