<header>
   <nav class="navbar">
      <div class="logo">
         <a href="/">DM</a>
      </div>
      <ul class="links">
         <li><a href="/membership">Membership</a></li>
         <li><a href="/tickets">Tickets</a></li>
         <li><a href="/snacks">Snacks</a></li>
      </ul>
      <form class="main_header_search_bar">
         <input
            type="search"
            name="search-bar"
            placeholder="Search movies, series and more"
         />
         <button class="main_header_button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
         </button>
      </form>
      <% if (locals.isLogged) { %>
      <div class="login_btn">
         <a href="/user/cart" class="fa-solid fa-cart-shopping"></a>
         <a href="/user/profile" class="fa-solid fa-user"></a>
         <a href="/user/logout" class="log_out_btn">Log Out</a>
      </div>
      <% } else { %>
      <div class="home_btn">
         <a href="/user/login" class="log_btn">Log In</a>
         <a href="/user/register" class="sign_up_btn">Sign Up</a>
      </div>
      <% } %>
      <div class="toggle_btn">
         <i class="fa-solid fa-bars"></i>
      </div>
   </nav>
   <div class="dropdown_menu">
      <li><a href="/">Home</a></li>
      <li><a href="/membership">Membership</a></li>
      <li><a href="/tickets">Tickets</a></li>
      <li><a href="/snacks">Snacks</a></li>
      <div class="user_btn">
         <a href="/user/login" class="log_btn">Log In</a>
         <a href="/logout" class="log_out_btn">Log Out</a>
         <a href="/user/register" class="sign_up_btn">Sign Up</a>
      </div>
   </div>
</header>
<script src="/scripts/navbar.js"></script>
