<header>
   <nav class="navbar">
      <a class="navbar-logo" href="/">DM</a>
      <form class="navbar-search-bar" action="/search" method="get">
         <input
            type="text"
            name="search"
            placeholder="Search movies and series"
         />
         <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
         </button>
      </form>
      <ul class="navbar-links">
         <li><a href="/">Home</a></li>
         <li><a href="/membership">Membership</a></li>
         <li><a href="/tickets">Tickets</a></li>
         <li><a href="/snacks">Snacks</a></li>
      </ul>
      <div class="toggle-btn">
         <i class="fa-solid fa-bars"></i>
      </div>
      <div class="dropdown-menu">
         <ul class="dropdown-menu-links">
            <li><a href="/">Home</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/snacks">Snacks</a></li>
         </ul>
         <% if (locals.isLogged == true) { %>
         <div class="dropdown-menu-login-btn">
            <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/user/logout" class="navbar-btn">Log Out</a>
            <a href="/user/profile">
               <img
                  class="user-image"
                  src="/images/users/<%= locals.userLogged.image %>"
               />
            </a>
         </div>
         <% } else { %>
         <div class="dropdown-menu-logout-btn">
            <a href="/user/login" class="navbar-btn">Log In</a>
            <a href="/user/register" class="navbar-btn">Sign Up</a>
         </div>
         <% } %>
      </div>
      <% if (locals.isLogged == true) { %>
      <div class="navbar-login-btn">
         <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
         <a href="/user/profile">
            <img
               class="user-image"
               src="/images/users/<%= locals.userLogged.image %>"
            />
         </a>
         <a href="/user/logout" class="navbar-btn">Log Out</a>
      </div>
      <% } else { %>
      <div class="navbar-logout-btn">
         <a href="/user/login" class="navbar-btn">Log In</a>
         <a href="/user/register" class="navbar-btn">Sign Up</a>
      </div>
      <% } %>
   </nav>
</header>
<script src="/scripts/navbar.js"></script>
