:root {
   /* Thin 100; Light 300; Regular 400; Medium 500; Bold 700 */
   --body-font: 'Montserrat Alternates', sans-serif;
   --logo-font: 'Monoton', cursive;

   --font-variant-color: #eae5d9;

   --background-variant-color: #282121;

   --palete-1-1: #332a1a;
   --palete-1-2: #7c5b41;
   --palete-1-3: #efdcd3;
   --palete-1-4: #aa574b;
   --palete-1-5: #541c13;

   --palete-2-1: #ebd5b8;
   --palete-2-2: #efbc9c;
   --palete-2-3: #ea572a;
   --palete-2-4: #0b4030;
   --palete-2-5: #e39828;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--body-font);
}

/* MAIN CONTAINER */

.membership-main-container {
   background-color: var(--background-variant-color);
   margin: -0.5rem 0 2rem;
   padding-top: 0.5rem;
}

.membership-container {
   width: 100%;
   margin: 1.5rem 0 0;
   padding: 0 0.5rem;
   text-align: center;
}

.membership-tier-title {
   color: var(--palete-1-4);
   text-shadow: 2px 0 10px var(--palete-1-2);
   text-align: left;
   font-size: 1.5rem;
}

.membership-tier-description {
   color: var(--palete-1-3);
   margin-top: 1.5rem;
   padding: 0 0.5rem;
}

.membership-discounts-container {
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   gap: 0.2rem;
   width: 100%;
   margin: 1.5rem 0;
}

.discounts {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 0.5rem;
   width: 30%;
   height: 9rem;
   background-color: #130f0f49;
   padding: 0.5rem 0.2rem;
   box-shadow: 0 0 10px var(--palete-2-5);
}

.discounts i {
   display: block;
   font-size: 2rem;
   color: var(--palete-1-3);
   text-shadow: 0 0 5px var(--palete-2-5);
}

.discounts p {
   color: var(--palete-1-3);
   font-weight: 500;
   font-size: 0.8rem;
}

.membership-price {
   color: var(--palete-1-4);
   text-shadow: 2px 0 10px var(--palete-1-2);
   font-size: 1.2rem;
   text-align: left;
}

.membership-btn {
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   border: 2px solid var(--palete-2-3);
   color: var(--font-variant-color);
   background-color: transparent;
   border-radius: 0.25em;
   padding: 0.3rem 0.7rem;
   position: relative;
   isolation: isolate;
}

.membership-btn::after {
   content: '';
   position: absolute;
   z-index: -100;
   background-color: var(--palete-2-3);
   inset: 0;
   scale: 0 1;
   transition: scale 450ms;
   transform-origin: right;
}

.membership-btn:hover::after,
.membership-btn:focus-visible::after {
   transform-origin: left;
   scale: 1 1;
}

/* RESPONSIVE DESIGN */
@media (1025px <= width) {
   .membership-tier-title {
      font-size: 2rem;
   }

   .membership-tier-description {
      font-size: 1.5rem;
   }

   .discounts i {
      font-size: 3rem;
   }

   .discounts p {
      font-size: 1.3rem;
   }

   .membership-price {
      font-size: 1.5rem;
   }

   .membership-btn {
      font-size: 1.5rem;
   }
}
