<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Regístrate</title>
      <link rel="stylesheet" href="/css/sign-in/sign-in.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
         rel="stylesheet"
      />
   </head>
   <body class="body_formulario">
      <main class="main_formulario">
         <form action="" method="post" class="formulario">
            <img
               src="/img/logo-camera-1.png"
               alt="movies"
               class="formulario_logo"
            />
            <h1 class="formulario_titulo">Regístrate</h1>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Nombre</label>
               <input type="text" name="name" class="input" />
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Apellido</label>
               <input type="text" name="last_name" class="input" />
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Fecha de nacimiento</label>
               <input type="date" name="fecha" class="input" />
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Email</label>
               <input type="email" name="email" class="input" />
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Contraseña</label>
               <input type="password" name="password" class="input" />
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo"
                  >Confirmar contraseña</label
               >
               <input type="password" name="password" class="input" />
            </div>
            <div class="formulario_boton">
               <button class="boton_enviar">
                  <a href="">Enviar</a>
               </button>
            </div>
            <div class="formulario_foot">
               <h2 class="foot_titulo">¿Ya tienes un cuenta?</h2>
               <a href="/login" class="foot_cuenta">Inicia sesión</a>
            </div>
         </form>
      </main>
   </body>
</html>
