<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/car/car.css" />
   </head>
   <body>
      <nav class="barra-navegacion">
      <ul>
         <li><a href="/home">Home</a></li>
         <li><a href="#">Movies</a></li>
         <li><a href="#">Series</a></li>
         <li><a href="#">Showtimes</a></li>
         <li><a href="#">Store</a></li>
         <li><a href="#"><input type="text" placeholder="Buscar...">
            <button>Buscar</button></a></li>
            <li><a href="#">log out</a></li>
     </ul>
 </nav>
 <section class="caja-contenedor">
   <div class="articulos">
      <div class ="producto">
         <div class="foto"></div>
         <h1>Nombre del producto:</h1>
         <div class="botoncito"><button class="buttonEliminar">eliminar</button></div>
      </div>
      <div class="producto">
         <div class="foto"></div>
      </div>
   </div>
   <div class="monto">
      Resumen De Compra:
      <div class="botoncito"><button class="buttonGrande">Continuar Compra</button></div>
   </div>
</section>  
   </body>
</html>  
