<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/car/car.css" />
   </head>
   <body>
      <header></header>
      <nav class="barra-navegacion">
      <ul>
         <li><a href="/home">home</a></li>
         <li><a href="#">Movies</a></li>
         <li><a href="#">Series</a></li>
         <li><a href="#">Showtimes</a></li>
         <li><a href="#">Store</a></li>
         <li><a href="#"><input type="text" placeholder="Buscar...">
            <button>Buscar</button></a></li>
            <li><a href="#">log out</a></li>
     </ul>
 </nav>
</header>
<main>
   <!-- Contenedor que tiene a las 2 Cajas principales -->
   <section class="carrito-contenedor">
       <!-- Caja Izquierda -->
       <div class="articulo-contenedor">
           <!-- Inicio de Articulo -->
           <div class="articulo">
             <div class="p1">
               <img src="css/car/barbie.png" alt="Imagen de producto">
             </div>
             <div class="p2">
               <div class="p2-top">
                   <h2>Barbie</h2>
                   <p>Descripcion</p>
               </div>
               <div class="p2-bot">
                   <button class="buttonMedio">Eliminar</button>
                   <button class="buttonMedio">Comprar Ahora</button>
               </div>
             </div>
             <div class="p3">
               <div class="p3-top">
                   <button class="buttonMedio">+</button>
                   <button class="buttonMedio">-</button>
               </div>
               <div class="p3-bot">
                   <h2>*Nro.* unidades disponibles</h2>
               </div>
             </div>
             <div class="p4">
               <h1>
                   $15.99
               </h1>
             </div>
           </div>
           <!-- Fin de Articulo -->
           <div class="articulo">
               <div class="p1">
                 <img src="css/car/oppenheimer.png" alt="Imagen de producto">
               </div>
               <div class="p2">
                 <div class="p2-top">
                     <h2>Oppenheimer</h2>
                     <p>Descripcion</p>
                 </div>
                 <div class="p2-bot">
                     <button class="buttonMedio">Eliminar</button>
                     <button class="buttonMedio">Comprar Ahora</button>
                 </div>
               </div>
               <div class="p3">
                 <div class="p3-top">
                     <button class="buttonMedio">+</button>
                     <button class="buttonMedio">-</button>
                 </div>
                 <div class="p3-bot">
                     <h2>*Nro.* unidades disponibles</h2>
                 </div>
               </div>
               <div class="p4">
                 <h1>
                     $15.99
                 </h1>
               </div>
             </div>
       </div>
       <!-- Caja derecha -->
       <div class="monto-contenedor">
           <div class="m1">
               <h2>Resumen</h2>
           </div>
           <div class="m2">
               cantidad de productos

           </div>
           <div class="m3">
               <button class="buttonGrande">Pagar</button>
           </div>
       </div>
   </section>
</main>
<footer>
   <p1></p1>
</footer>
</body>
</html>
