<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link href="/css/styles.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <!-- Test -->
   </head>
   <body>
    <main class="login-page">
        <div class="page-card">
            <div class="welcome-logo">
                <p>Welcome</p>
            </div>
            <section>
                <form>
                    <label for="">Email</label> 
                    <input type="email" class="" name="" placeholder="Email">
                    <label for="">Password</label>
                    <input type="password" class="" name="" placeholder="Password">
                    <a href="/" class="bn3637 bn38">Sign up</a>
                </form>
            </section>
            <p>Don't have an account?</p>
            <p><a href="" class="register-link">Create account</a></p>
        </div>
    </main>
   </body>
</html>
