<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- FONTS -->
      <!-- logo font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
         rel="stylesheet"
      />
      <!-- body font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;700&display=swap"
         rel="stylesheet"
      />
      <!-- LOGOS -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      />
      <!-- STYLES -->
      <link rel="stylesheet" href="/styles/components/normalize.css" />
      <link rel="stylesheet" href="/styles/components/navbar.css" />
      <link rel="stylesheet" href="/styles/components/footer.css" />
      <link rel="stylesheet" href="/styles/home/home.css" />
      <title>Digital Movies</title>
   </head>
   <body>
      <header>
         <nav class="navbar">
            <div class="logo">
               <p>DM</p>
            </div>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="/showtimes">Showtimes</a></li>
               <li><a href="/membership">Membership</a></li>
               <li><a href="/tickets">Tickets</a></li>
               <li><a href="/snacks">Snacks</a></li>
               <li><a href="/digital-movies">Digital Movies</a></li>
            </ul>
            <form class="main_header_search_bar">
               <input
                  type="search"
                  name="search-bar"
                  placeholder="Search movies, series and more"
               />
               <button class="main_header_button" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </button>
            </form>
            <div class="home_btn">
               <a href="/login" class="log_btn">Log In</a>
               <a href="/logout" class="log_out_btn">Log Out</a>
               <a href="/register" class="sign_up_btn">Sign Up</a>
            </div>
            <div class="login_btn">
               <a href="/cart" class="fa-solid fa-cart-shopping"></a>
               <a href="/profile" class="fa-solid fa-user"></a>
            </div>
            <div class="toggle_btn">
               <i class="fa-solid fa-bars"></i>
            </div>
         </nav>
         <div class="dropdown_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/showtimes">Showtimes</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/snacks">Snacks</a></li>
            <li><a href="/digital-movies">Digital Movies</a></li>
            <div class="user_btn">
               <a href="/login" class="log_btn">Log In</a>
               <a href="/logout" class="log_out_btn">Log Out</a>
               <a href="/signup" class="sign_up_btn">Sign Up</a>
            </div>
         </div>
      </header>
      <main>
         <!-- BACKGROUND VIDEO  -->
         <section class="hero">
            <video class="back-video" autoplay loop muted plays-inline>
               <source src="/videos/oppenheimer-trailer.mp4" type="video/mp4" />
            </video>
            <h1>Digital Movies</h1>
         </section>
         <!-- MOVIES AND SERIES LINKS -->
         <section class="filter-container">
            <ul class="filter">
               <li><a href="/movies">Movies</a></li>
               <li><a href="/series">Series</a></li>
               <li><a href="/best-rating">Best Rating</a></li>
               <li><a href="/most-views">Most Views</a></li>
            </ul>
         </section>
         <!-- MOVIES AND SERIES CARDS -->
         <section class="cards-conteiner">
            <!-- Card 1 -->
            <article class="card">
               <a href="/movie-aladdin">
                  <img
                     src="/images/aladdin.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Aladdin</p>
                  <p class="genres">Animation - Adventure - Children</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 2 -->
            <article class="card">
               <a href="/movie-alien-covenant">
                  <img
                     src="/img/alien-covenant.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Alien: Covenant</p>
                  <p class="genres">Horror - Science Fiction - Thriller</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 3 -->
            <article class="card">
               <a href="/movie-alien-el-octavo-pasajero">
                  <img
                     src="/img/alien-el-octavo-pasajero.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Alien: El Octavo Pasajero</p>
                  <p class="genres">
                     Horror - Science Fiction - Fantasy - Adventure
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 4 -->
            <article class="card">
               <a href="/movie-avatar-2">
                  <img src="/img/avatar-2.jpg" alt="front page" class="front" />
                  <p class="title">Avatar: The Way of Water</p>
                  <p class="genres">
                     Action - Science Fiction - Adventure - Fantasy
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 5 -->
            <article class="card">
               <a href="/movie-barbie">
                  <img src="/img/barbie.jpg" alt="front page" class="front" />
                  <p class="title">Barbie</p>
                  <p class="genres">
                     Children - Romantic - Cinema - Comedy - Fiction
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 6 -->
            <article class="card">
               <a href="/movie-cars">
                  <img src="/img/cars.jpg" alt="front page" class="front" />
                  <p class="title">Cars</p>
                  <p class="genres">
                     Animation - Adventure - Children - Action
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 7 -->
            <article class="card">
               <a href="/movie-el-ecorcista">
                  <img
                     src="/img/el-exorcista.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Exorcista</p>
                  <p class="genres">Horror - Suspense - Supernatural</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 8 -->
            <article class="card">
               <a href="/movie-el-renacido">
                  <img
                     src="/img/el-renacido.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Renacido</p>
                  <p class="genres">Thriller - Drama - Survival - Adventure</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 9 -->
            <article class="card">
               <a href="/movie-el-resplandor">
                  <img
                     src="/img/el-resplandor.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Resplandor</p>
                  <p class="genres">Psychological - Terror - Mystery</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 10 -->
            <article class="card">
               <a href="/movie-forrest-gump">
                  <img
                     src="/img/forrest-gump.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Forrest Gump</p>
                  <p class="genres">Comedy - Romantic - Cinema - Drama</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 11 -->
            <article class="card">
               <a href="/movie-gigantes-de-acero">
                  <img
                     src="/img/gigantes-de-acero.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Gigantes de Acero</p>
                  <p class="genres">Action - Sport - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 12 -->
            <article class="card">
               <a href="/movie-godzilla-kong">
                  <img
                     src="/img/godzilla-kong.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Godzilla vs Kong</p>
                  <p class="genres">Action - Monster Movie - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 13 -->
            <article class="card">
               <a href="/movie-guardianes-de-la-galaxia-v3">
                  <img
                     src="/img/guardianes-de-la-galaxia-v3.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Guardianes de la galaxia v3</p>
                  <p class="genres">Action - Adventure - Fantasy - Comedy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 14 -->
            <article class="card">
               <a href="/movie-halloween-2018">
                  <img
                     src="/img/halloween-2018.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Halloween</p>
                  <p class="genres">Horror movies - Slasher - Thriller</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 15 -->
            <article class="card">
               <a href="/movie-harry-potter-8">
                  <img
                     src="/img/harry-potter.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Harry Potter 8</p>
                  <p class="genres">Action - Fantasy - Adventure - Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 16 -->
            <article class="card">
               <a href="/movie-interestelar">
                  <img
                     src="/img/interestelar.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Interestelar</p>
                  <p class="genres">Science Fiction - Drama - Adventure</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 17 -->
            <article class="card">
               <a href="/movie-john-wick-4">
                  <img
                     src="/img/john-wick-4.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">John Wick 4</p>
                  <p class="genres">Neo-Noir - Action - Crime - Thriller</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 18 -->
            <article class="card">
               <a href="/movie-los-vengadores-endgame">
                  <img
                     src="/img/los-vengadores-endgame.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Los Vengadores: End Game</p>
                  <p class="genres">Action - Superheroes - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 19 -->
            <article class="card">
               <a href="/movie-mario-bros">
                  <img
                     src="/img/mario-bros.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Mario Bros</p>
                  <p class="genres">Animation - Romance - Comedy - Adventure</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 20 -->
            <article class="card">
               <a href="/movie-narnia">
                  <img src="/img/narnia.jpg" alt="front page" class="front" />
                  <p class="title">Narnia: El leon, la bruja y el ropero</p>
                  <p class="genres">Adventure - Fantasy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 21 -->
            <article class="card">
               <a href="/movie-pacific-rim">
                  <img
                     src="/img/pacific-rim.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Titanes del pacifico</p>
                  <p class="genres">Action - Science Fiction - Fantasy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 22 -->
            <article class="card">
               <a href="/movie-predator-prey">
                  <img
                     src="/img/predator-prey.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Prey</p>
                  <p class="genres">Horror - Action - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 23 -->
            <article class="card">
               <a href="/movie-project-almanac">
                  <img
                     src="/img/project-almanac.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Project Almanac</p>
                  <p class="genres">Science Fiction - Fantasy - Thriller</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 24 -->
            <article class="card">
               <a href="/movie-project-x">
                  <img
                     src="/img/proyecto-x.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Project Almanac</p>
                  <p class="genres">Comedy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 25 -->
            <article class="card">
               <a href="/movie-spider-man-across-the-spiderverse">
                  <img
                     src="/img/spider-man-across-the-spiderverse.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Spider-man: A travez del spiderverso</p>
                  <p class="genres">Action - Comedy - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 26 -->
            <article class="card">
               <a href="/movie-the-lord-of-the-rings">
                  <img
                     src="/img/the-lord-of-the-rings.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">The Lord of The Rigns</p>
                  <p class="genres">Action - Fantasy - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 27 -->
            <article class="card">
               <a href="/movie-una-esposa-de-mentira">
                  <img
                     src="/img/una-esposa-de-mentira.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Una Esposa de Mentira</p>
                  <p class="genres">Comedy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 28 -->
            <article class="card">
               <a href="/movie-x-men-apocalypse">
                  <img
                     src="/img/x-men-apocalypse.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">X-men: Apocalypse</p>
                  <p class="genres">Action - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 29 -->
            <article class="card">
               <a href="/movie-zathura">
                  <img src="/img/zathura.jpg" alt="front page" class="front" />
                  <p class="title">Zathura</p>
                  <p class="genres">Science Fiction - Drama - Action</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
         </section>
      </main>
      <footer class="footer-conteiner">
         <div class="wave-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path
                  fill-opacity="1"
                  d="M0,96L48,122.7C96,149,192,203,288,213.3C384,224,480,192,576,176C672,160,768,160,864,186.7C960,213,1056,267,1152,261.3C1248,256,1344,192,1392,160L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
               ></path>
            </svg>
         </div>
         <div class="wave-container-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path
                  fill-opacity="1"
                  d="M0,160L48,133.3C96,107,192,53,288,26.7C384,0,480,0,576,0C672,0,768,0,864,32C960,64,1056,128,1152,144C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
               ></path>
            </svg>
         </div>
         <div class="footer-social-conteiner">
            <p class="footer-logo">DM</p>
            <div class="social-conteiner">
               <a href="#"><i class="fa-brands fa-twitter"></i></a>
               <a href="#"><i class="fa-brands fa-facebook"></i></a>
               <a href="#"><i class="fa-brands fa-instagram"></i></a>
               <a href="#"><i class="fa-brands fa-youtube"></i></a>
               <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
         </div>
         <div class="footer-contact">
            <a class="contact" href="#">About Page</a>
            <a class="contact" href="#">About Us</a>
            <span class="copy"
               >&copy; Copyrights 2021, All rights reserved.</span
            >
         </div>
      </footer>
      <script src="/js/navbar.js"></script>
   </body>
</html>
