<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- FONTS -->
      <!-- logo font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
         rel="stylesheet"
      />
      <!-- body font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;700&display=swap"
         rel="stylesheet"
      />
      <!-- LOGOS -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      />
      <!-- STYLES -->
      <link rel="stylesheet" href="/css/normalize/normalize.css" />
      <link rel="stylesheet" href="/css/home/navbar.css" />
      <link rel="stylesheet" href="/css/home/home.css" />
      <title>Digital Movies</title>
   </head>
   <body>
      <h1>Digital Movies</h1>
      <header>
         <nav class="navbar">
            <div class="logo">
               <p>DM</p>
            </div>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="/showtimes">Showtimes</a></li>
               <li><a href="/membership">Membership</a></li>
               <li><a href="/tickets">Tickets</a></li>
               <li><a href="/snacks">Snacks</a></li>
               <li><a href="/digital-movies">Digital Movies</a></li>
            </ul>
            <form class="main_header_search_bar">
               <input
                  type="search"
                  name="search-bar"
                  placeholder="Search movies, series and more"
               />
               <button class="main_header_button" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </button>
            </form>
            <div class="home_btn">
               <a href="/" class="log_btn">Log In</a>
               <a href="/" class="log_out_btn">Log Out</a>
               <a href="/" class="sign_up_btn">Sign Up</a>
            </div>
            <div class="login_btn">
               <a href="/cart" class="fa-solid fa-cart-shopping"></a>
               <a href="/profile" class="fa-solid fa-user"></a>
            </div>
            <div class="toggle_btn">
               <i class="fa-solid fa-bars"></i>
            </div>
         </nav>
         <div class="dropdown_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/showtimes">Showtimes</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/snacks">Snacks</a></li>
            <li><a href="/digital-movies">Digital Movies</a></li>
            <div class="user_btn">
               <a href="/" class="log_btn">Log In</a>
               <a href="/" class="log_out_btn">Log Out</a>
               <a href="/" class="sign_up_btn">Sign Up</a>
            </div>
         </div>
      </header>
      <script src="/js/navbar.js"></script>
   </body>
</html>
