<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- FONTS -->
      <!-- logo font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
         rel="stylesheet"
      />
      <!-- body font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;700&display=swap"
         rel="stylesheet"
      />
      <!-- LOGOS -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      />
      <!-- STYLES -->
      <link rel="stylesheet" href="/css/normalize/normalize.css" />
      <link rel="stylesheet" href="/css/home/navbar.css" />
      <link rel="stylesheet" href="/css/home/home.css" />
      <title>Digital Movies</title>
   </head>
   <body>
      <header>
         <nav class="navbar">
            <div class="logo">
               <p>DM</p>
            </div>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="/showtimes">Showtimes</a></li>
               <li><a href="/membership">Membership</a></li>
               <li><a href="/tickets">Tickets</a></li>
               <li><a href="/snacks">Snacks</a></li>
               <li><a href="/digital-movies">Digital Movies</a></li>
            </ul>
            <form class="main_header_search_bar">
               <input
                  type="search"
                  name="search-bar"
                  placeholder="Search movies, series and more"
               />
               <button class="main_header_button" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </button>
            </form>
            <div class="home_btn">
               <a href="/log-in" class="log_btn">Log In</a>
               <a href="/" class="log_out_btn">Log Out</a>
               <a href="/register" class="sign_up_btn">Sign Up</a>
            </div>
            <div class="login_btn">
               <a href="/cart" class="fa-solid fa-cart-shopping"></a>
               <a href="/profile" class="fa-solid fa-user"></a>
            </div>
            <div class="toggle_btn">
               <i class="fa-solid fa-bars"></i>
            </div>
         </nav>
         <div class="dropdown_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/showtimes">Showtimes</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/snacks">Snacks</a></li>
            <li><a href="/digital-movies">Digital Movies</a></li>
            <div class="user_btn">
               <a href="/" class="log_btn">Log In</a>
               <a href="/" class="log_out_btn">Log Out</a>
               <a href="/" class="sign_up_btn">Sign Up</a>
            </div>
         </div>
      </header>
      <main>
         <!-- BACKGROUND VIDEO  -->
         <section class="hero">
            <video class="back-video" autoplay loop muted plays-inline>
               <source src="/video/oppenheimer-trailer.mp4" type="video/mp4" />
            </video>
            <h1>Digital Movies</h1>
         </section>
         <!-- MOVIES AND SERIES LINKS -->
         <section class="links-conteiner">
            <ul class="links">
               <li><a href="/movies">Movies</a></li>
               <li><a href="/series">Series</a></li>
               <li><a href="/best-rating">Best Rating</a></li>
               <li><a href="/most-views">Most Views</a></li>
            </ul>
         </section>
         <!-- MOVIES AND SERIES CARDS -->
         <section class="cards-conteiner">
            <!-- Card 1 -->
            <article class="card">
               <a href="/movie-aladdin">
                  <img src="/img/aladdin.jpg" alt="front page" class="front" />
                  <p class="title">Aladdin</p>
                  <p class="genres">Animation - Adventure - Children</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 2 -->
            <article class="card">
               <a href="/movie-alien-covenant">
                  <img
                     src="/img/alien-covenant.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Alien: Covenant</p>
                  <p class="genres">Horror - Science Fiction - Thriller</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 3 -->
            <article class="card">
               <a href="/movie-alien-el-octavo-pasajero">
                  <img
                     src="/img/alien-el-octavo-pasajero.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Alien: El Octavo Pasajero</p>
                  <p class="genres">
                     Horror - Science Fiction - Fantasy - Adventure
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 4 -->
            <article class="card">
               <a href="/movie-avatar-2">
                  <img src="/img/avatar-2.jpg" alt="front page" class="front" />
                  <p class="title">Avatar: The Way of Water</p>
                  <p class="genres">
                     Action - Science Fiction - Adventure - Fantasy
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 5 -->
            <article class="card">
               <a href="/movie-barbie">
                  <img src="/img/barbie.jpg" alt="front page" class="front" />
                  <p class="title">Barbie</p>
                  <p class="genres">
                     Children - Romantic - Cinema - Comedy - Fiction
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 6 -->
            <article class="card">
               <a href="/movie-cars">
                  <img src="/img/cars.jpg" alt="front page" class="front" />
                  <p class="title">Cars</p>
                  <p class="genres">
                     Animation - Adventure - Children - Action
                  </p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 7 -->
            <article class="card">
               <a href="/movie-el-ecorcista">
                  <img
                     src="/img/el-exorcista.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Exorcista</p>
                  <p class="genres">Horror - Suspense - Supernatural</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 8 -->
            <article class="card">
               <a href="/movie-el-renacido">
                  <img
                     src="/img/el-renacido.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Renacido</p>
                  <p class="genres">Thriller - Drama - Survival - Adventure</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 9 -->
            <article class="card">
               <a href="/movie-el-resplandor">
                  <img
                     src="/img/el-resplandor.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">El Resplandor</p>
                  <p class="genres">Psychological - Terror - Mystery</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 10 -->
            <article class="card">
               <a href="/movie-forrest-gump">
                  <img
                     src="/img/forrest-gump.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Forrest Gump</p>
                  <p class="genres">Comedy - Romantic - Cinema - Drama</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 11 -->
            <article class="card">
               <a href="/movie-gigantes-de-acero">
                  <img
                     src="/img/gigantes-de-acero.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Gigantes de Acero</p>
                  <p class="genres">Action - Sport - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 12 -->
            <article class="card">
               <a href="/movie-godzilla-kong">
                  <img
                     src="/img/godzilla-kong.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Godzilla vs Kong</p>
                  <p class="genres">Action - Monster Movie - Science Fiction</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
            <!-- Card 13 -->
            <article class="card">
               <a href="/movie-guardianes-de-la-galaxia-v3">
                  <img
                     src="/img/guardianes-de-la-galaxia-v3.jpg"
                     alt="front page"
                     class="front"
                  />
                  <p class="title">Guardianes de la galaxia v3</p>
                  <p class="genres">Action - Adventure - Fantasy - Comedy</p>
                  <p class="rating">
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                     <i class="fa-solid fa-clapperboard"></i>
                  </p>
               </a>
            </article>
         </section>
      </main>
      <script src="/js/navbar.js"></script>
   </body>
</html>
