:root {
   /* Thin 100; Light 300; Regular 400; Medium 500; Bold 700 */
   --body-font: 'Montserrat Alternates', sans-serif;
   --logo-font: 'Monoton', cursive;

   --font-variant-color: #eae5d9;

   --background-variant-color: #282121;

   --palete-1-1: #332a1a;
   --palete-1-2: #7c5b41;
   --palete-1-3: #efdcd3;
   --palete-1-4: #aa574b;
   --palete-1-5: #541c13;

   --palete-2-1: #ebd5b8;
   --palete-2-2: #efbc9c;
   --palete-2-3: #ea572a;
   --palete-2-4: #0b4030;
   --palete-2-5: #e39828;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--body-font);
}

body {
   height: 100vh;
   background-color: var(--background-variant-color);
   position: relative;
   z-index: 1;
}

/* MAIN CONTEINER */

.hero {
   width: 100%;
   height: 35vh;
   padding: 0 5%;
   position: absolute;
   z-index: -1;
   left: 0;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero .back-video {
   position: absolute;
   width: 100%;
   height: auto;
   left: 0;
   top: 0;
   z-index: -1;
}

main .hero h1 {
   position: relative;
   z-index: 2;
   font-size: 1.5rem;
   font-weight: 600;
   transition: 0.5s;
   color: var(--palete-1-5);
   text-shadow: -1px -1px 0 var(--palete-1-3), 1px -1px 0 var(--palete-1-3),
      1px 1px 0 var(--palete-1-3), -1px 1px 0 var(--palete-1-3);
}

.hero h1:hover {
   color: var(--palete-2-5);
   text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
      -1px 1px 0 white;
}

/* MOVIES AND SERIES LINKS */

.links-conteiner {
   padding: 0.5rem;
   margin-top: 36%;
   background-color: #0b3f308f;
}

.links {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.links a {
   font-size: 0.8rem;
}

/* MOVIES AND SERIES CARDS */

.cards-conteiner {
   margin: 0.2rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}

.card {
   width: 130px;
   height: 180px;
   position: relative;
   overflow: hidden;
   margin: 0.2rem 0;
}

.card:hover {
   scale: 1.1;
}

.card .front {
   width: 100%;
   height: 100%;
}

.card .title {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 10px 5px;
   background-color: rgba(0, 0, 0, 0.5);
   color: var(--font-variant-color);
   font-size: clamp(12px, 2vw, 24px);
   font-weight: 600;
}

.card:hover .title {
   height: 100%;
   padding: auto;
   text-align: center;
}

.card .rating,
.card .genres {
   display: none;
   position: absolute;
   font-weight: 500;
   padding: 0 0 0.5rem;
   color: var(--font-variant-color);
   font-size: clamp(12px, 2vw, 24px);
}

.card .genres {
   inset: 35% 0 0 0;
   padding: 0 3px;
   text-align: center;
}

.card .rating {
   inset: auto 0 0 0;
   padding: 0.5rem 3px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.75);
}

.card:hover .rating,
.card:hover .genres {
   display: block;
}

/* RESPONSIVE DESIGN */

@media (min-width: 320px) and (max-width: 425px) {
}

@media (min-width: 426px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 1441px) and (max-width: 1920px) {
}
