:root {
   /* Thin 100; Light 300; Regular 400; Medium 500; Bold 700 */
   --body-font: 'Montserrat Alternates', sans-serif;
   --logo-font: 'Monoton', cursive;
   /* Regular 400; Medium 500; SemiBold 600; Bold 700 */
   --logo-cover-font: 'Dancing Script', cursive;

   --font-variant-color: #eae5d9;

   --background-variant-color: #282121;

   --palete-1-1: #332a1a;
   --palete-1-2: #7c5b41;
   --palete-1-3: #efdcd3;
   --palete-1-4: #aa574b;
   --palete-1-5: #541c13;

   --palete-2-1: #ebd5b8;
   --palete-2-2: #efbc9c;
   --palete-2-3: #ea572a;
   --palete-2-4: #0b4030;
   --palete-2-5: #e39828;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--body-font);
}

/* --------- MAIN CONTEINER --------- */
.home-main-container {
   background-color: var(--background-variant-color);
   margin-top: 0.4rem;
}

/* --------- BACKGROUND --------- */

/* BACKGROUND MOBILE --------- */
.home-layout {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 98%;
   margin: 0 auto;
}

.home-layout .layout-mobile-img {
   border: 1px solid #eae5d975;
   border-radius: 12px;
   display: block;
   position: relative;
   z-index: 10;
   width: 100%;
   max-width: fit-content;
   height: auto;
   max-height: calc(100dvh - 10dvh);
}

.home-layout .layout-desktop-img {
   display: none;
   border: 1px solid #eae5d975;
   border-radius: 0.25em;
   position: relative;
   z-index: 10;
   width: 100%;
   height: auto;
   max-height: calc(100dvh - 12dvh);
}

.home-layout p {
   cursor: default;
   position: absolute;
   z-index: 100;
   font-family: var(--logo-cover-font);
   font-weight: 700;
   font-size: 3rem;
   color: var(--palete-1-5);
   text-shadow: -1px -1px 0 var(--palete-1-3), 1px -1px 0 var(--palete-1-3),
      1px 1px 0 var(--palete-1-3), -1px 1px 0 var(--palete-1-3);
}

/* --------- MOVIES AND SERIES FILTERS --------- */
.home-filters {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
}

.home-filters a {
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   border: 2px solid var(--palete-2-3);
   color: var(--font-variant-color);
   border-radius: 0.25em;
   padding: 0.3rem 0.7rem;
   position: relative;
   isolation: isolate;
}

.home-filters a::after {
   content: '';
   position: absolute;
   z-index: -100;
   background-color: var(--palete-2-3);
   inset: 0;
   scale: 0 1;
   transition: scale 450ms;
   transform-origin: right;
}

.home-filters a:hover::after,
.home-filters a:focus-visible::after {
   transform-origin: left;
   scale: 1 1;
}

/* --------- RESPONSIVE DESIGN --------- */
@media (768px <= width) {
   .home-layout .layout-mobile-img {
      display: none;
   }

   .home-layout .layout-desktop-img {
      display: block;
   }
}

@media (850px <= width) {
   .home-filter-container {
      width: fit-content;
   }

   .home-filters {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1.5rem 1rem 1rem;
   }
}
