<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- FONTS -->
      <!-- logo font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
         rel="stylesheet"
      />
      <!-- body font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;700&display=swap"
         rel="stylesheet"
      />
      <!-- LOGOS -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      />
      <!-- STYLES -->
      <link rel="stylesheet" href="/css/components/normalize.css" />
      <link rel="stylesheet" href="/css/components/navbar.css" />
      <link rel="stylesheet" href="/css/components/footer.css" />
      <link rel="stylesheet" href="/css/cart/cart.css" />
      <title>Digital Movies</title>
   </head>
   <body>
      <header>
         <nav class="navbar">
            <div class="logo">
               <p>DM</p>
            </div>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="/showtimes">Showtimes</a></li>
               <li><a href="/membership">Membership</a></li>
               <li><a href="/tickets">Tickets</a></li>
               <li><a href="/snacks">Snacks</a></li>
               <li><a href="/digital-movies">Digital Movies</a></li>
            </ul>
            <form class="main_header_search_bar">
               <input
                  type="search"
                  name="search-bar"
                  placeholder="Search movies, series and more"
               />
               <button class="main_header_button" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </button>
            </form>
            <div class="home_btn">
               <a href="/login" class="log_btn">Log In</a>
               <a href="/logout" class="log_out_btn">Log Out</a>
               <a href="/register" class="sign_up_btn">Sign Up</a>
            </div>
            <div class="login_btn">
               <a href="/cart" class="fa-solid fa-cart-shopping"></a>
               <a href="/profile" class="fa-solid fa-user"></a>
            </div>
            <div class="toggle_btn">
               <i class="fa-solid fa-bars"></i>
            </div>
         </nav>
         <div class="dropdown_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/showtimes">Showtimes</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/snacks">Snacks</a></li>
            <li><a href="/digital-movies">Digital Movies</a></li>
            <div class="user_btn">
               <a href="/login" class="log_btn">Log In</a>
               <a href="/logout" class="log_out_btn">Log Out</a>
               <a href="/signup" class="sign_up_btn">Sign Up</a>
            </div>
         </div>
      </header>
      <main class="main-container">
         <!-- LEFT BOX -->
         <section class="left-box-container">
            <!-- PRODUCT 1 -->
            <article class="cart_product">
               <img
                  class="cart_product-img"
                  src="/img/barbie.jpg"
                  alt="Imagen de producto"
               />
               <div class="cart_product_description-container">
                  <p class="cart_product-title">Barbie</p>
                  <div class="btn-container">
                     <button type="submit">Eliminate</button>
                     <button type="submit">Buy Now</button>
                  </div>
               </div>
               <div class="cart_product_quantity-container">
                  <div class="more_less-btn">
                     <button type="submit">+</button>
                     <p>1</p>
                     <button type="submit">-</button>
                  </div>
                  <p class="cart_product_total-quantity">
                     Quantity Available: N°
                  </p>
               </div>
               <p class="cart_product-price">Price: $0.99</p>
            </article>
            <!-- PRODUCT 2 -->
            <article class="cart_product">
               <img
                  class="cart_product-img"
                  src="/img/avatar-2.jpg"
                  alt="Imagen de producto"
               />
               <div class="cart_product_description-container">
                  <p class="cart_product-title">Avatar 2</p>
                  <div class="btn-container">
                     <button type="submit">Eliminate</button>
                     <button type="submit">Buy Now</button>
                  </div>
               </div>
               <div class="cart_product_quantity-container">
                  <div class="more_less-btn">
                     <button type="submit">+</button>
                     <p>1</p>
                     <button type="submit">-</button>
                  </div>
                  <p class="cart_product_total-quantity">
                     Quantity Available: N°
                  </p>
               </div>
               <p class="cart_product-price">Price: $0.99</p>
            </article>
         </section>
         <!-- RIGHT BOX -->
         <section class="purchase_summary-container">
            <p class="purchase-summary">Productos:</p>
            <ul class="list-products">
               <li>Barbie: <span>$0.99</span></li>
               <li>Avatar 2: <span>$0.99</span></li>
            </ul>
            <p class="total-to-pay">Total to pay: $1.98</p>
            <button type="submit">Go pay</button>
         </section>
      </main>
      <footer class="footer-conteiner">
         <div class="wave-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path
                  fill-opacity="1"
                  d="M0,96L48,122.7C96,149,192,203,288,213.3C384,224,480,192,576,176C672,160,768,160,864,186.7C960,213,1056,267,1152,261.3C1248,256,1344,192,1392,160L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
               ></path>
            </svg>
         </div>
         <div class="wave-container-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path
                  fill-opacity="1"
                  d="M0,160L48,133.3C96,107,192,53,288,26.7C384,0,480,0,576,0C672,0,768,0,864,32C960,64,1056,128,1152,144C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
               ></path>
            </svg>
         </div>
         <div class="footer-social-conteiner">
            <p class="footer-logo">DM</p>
            <div class="social-conteiner">
               <a href="#"><i class="fa-brands fa-twitter"></i></a>
               <a href="#"><i class="fa-brands fa-facebook"></i></a>
               <a href="#"><i class="fa-brands fa-instagram"></i></a>
               <a href="#"><i class="fa-brands fa-youtube"></i></a>
               <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
         </div>
         <div class="footer-contact">
            <a class="contact" href="#">About Page</a>
            <a class="contact" href="#">About Us</a>
            <span class="copy"
               >&copy; Copyrights 2021, All rights reserved.</span
            >
         </div>
      </footer>
      <script src="/js/navbar.js"></script>
   </body>
</html>
