:root {
   --font-variant-color: #eae5d9;

   --background-variant-color: #282121;

   --color2-1: #332a1a;
   --color2-2: #7c5b41;
   --color2-3: #efdcd3;
   --color2-4: #aa574b;
   --color2-5: #541c13;

   --color1-1: #0b3f30;
   --color1-2: #efbc9c;
   --color1-3: #ebd5b8;
   --color1-4: #aa574b;
   --color1-5: #e39828;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--body-font);
}

.body_formulario {
   background-color: var(--color1-3);
   overflow-x: hidden;
}

.hero {
   width: 100%;
   /* overflow: auto; */
   position: relative;
   z-index: -100;
   background-color: #000;
   height: 100%;
}
#myVideo {
   min-width: 100vh;
   min-height: 100%;
}

/* Fondo del formulario */
.main_formulario {
   min-height: 100vh;
   display: flex;
   text-align: center;
   justify-content: center;
   position: relative;
}

/*Cuerpo del formulario*/
.formulario {
   width: 100vw;
   height: 100%;
   min-height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   margin: auto;
   border-radius: 10px;
   position: absolute;
   z-index: 0;
}

/* Logo */
.formulario_logo {
   width: 60px;
   padding: 20px 0 10px 0;
   color: #efdcd3;
}

/* Titulo */
.formulario_titulo {
   color: rgba(239, 220, 211, 0.9);
   font-size: 40px;
   padding: 10px 0 10px 0;
}

/* Nombre | Apellido | Email | Contraseña */
.formulario_input {
   width: 100%;
   padding: 10px 0 10px 0;
}
.input {
   color: var(--color1-1);
   width: 280px;
   height: 30px;
   border: 0;
   border-bottom: 1px solid #efdcd3;
   color: rgba(239, 220, 211, 0.9);
   background-color: transparent;
   text-align: start;
   padding-left: 5px;
}

.input_subtitulo {
   text-align: start;
   margin: auto;
   width: 65%;
   font-size: 1rem;
   padding-bottom: 5px;
   display: none;
}

/* Enviar */
.formulario_boton {
   padding: 10px 0 10px 0;
}
.boton_enviar {
   width: 100px;
   height: 30px;
   border-radius: 3rem;
   font-size: 18px;
   background-color: rgba(239, 220, 211, 0.6);
   color: rgba(84, 28, 19, 0.9);
   border: 0.3rem solid transparent;
}
.boton_enviar a {
   color: var(--color1-3);
}

/* ¿Ya eres miembro? | Inicia tu sesion */
.formulario_foot {
   color: rgba(239, 220, 211, 0.9);
   text-align: center;
   align-items: center;
}

.foot_titulo {
   padding: 10px 0 10px 0;
   font-size: 1.1rem;
}

.foot_cuenta {
   text-decoration: none;
   color: rgba(239, 220, 211, 0.9);
   padding: 10px 0 20px 0;
   font-size: 0.9rem;
}

@media (min-width: 769px) {
   .body_formulario {
      background-color: var(--color1-1);
   }
   .main_formulario {
      justify-content: flex-start;
   }
   .formulario {
      width: 60vw;
      max-width: 500px;
   }
}
