<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/membership/membership.css" />
   </head>
   <body>
      <%- include('./partials/header')%>
      <main class="main-container">
         <%- include('./partials/membershipPlan') %>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
