<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/showtimes/showtimes.css" />
   </head>
   <body>
      <%- include('../partials/navbar')%>
      <main>
         <div class="products"><%- include('../partials/tickets')%></div>
         <h4>2-for-1 on Tuesdays and Thursdays</h4>
      </main>
      <%- include('../partials/footer')%>
   </body>
</html>
