<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/showtimes/showtimes.css" />
   </head>
   <body>
      <%- include('../partials/navbar')%>
      <main class="showtimes-main-container">
         <h2 class="showtimes-offer-title">2x1 on Wednesday</h2>
         <section class="tickets-container">
            <%- include('../partials/tickets')%>
         </section>
      </main>
      <%- include('../partials/footer')%>
   </body>
</html>
