<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/showtimes/showtimes.css" />
   </head>
   <body>
      <%- include('../partials/navbar')%>
      <main>
         <h2 class="tickets-offer-title">2-for-1 on Tuesdays and Thursdays</h2>
         <section class="products">
            <%- include('../partials/tickets')%>
         </section>
      </main>
      <%- include('../partials/footer')%>
   </body>
</html>
