<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/snacks/snacks-form.css" />
      <title>Snacks create form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <form
            action="/snacks"
            method="post"
            enctype="multipart/form-data"
            class="form"
         >
            <div>
               <label for="image">Ingrese una imagen</label>
               <input type="file" id="image" name="image" class="form-input" />
            </div>
            <div>
               <label for="price">Ingrese precio</label>
               <input
                  type="number"
                  id="price"
                  name="price"
                  placeholder=""
                  class="form-input"
               />
            </div>
            <div>
               <label for="description">Ingrese descripcion corta</label>
               <input
                  type="text"
                  id="description"
                  name="description"
                  placeholder=""
                  class="form-input"
                  accept=".jpg, .png, .jpeg"
               />
            </div>
            <div>
               <button type="submit">Save item</button>
            </div>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
