<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <!-- <link rel="stylesheet" href=""> -->
      <title>Ticket Create Form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <form action="/tickets" method="post" enctype="multipart/form-data">
            <div>
               <label for="synopsis">Synopsis</label>
               <input
                  type="text"
                  id="synopsis"
                  name="synopsis"
                  placeholder="Ex: After meeting Gwen Stacy, Spider-Man from Brooklyn is..."
                  required
               />
            </div>
            <div>
               <label for="function">Room</label>
               <input
                  type="number"
                  id="Room"
                  name="Room"
                  placeholder="1, 2"
                  required
               />
            </div>
            <div>
                <label for="image">Image</label>
                <input
                   type="file"
                   id="image"
                   name="image"
                   accept=".jpg, .png, .jpeg"
                   required
                />
             </div>
            <div>
               <label for="price">Price</label>
               <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="Ex: 2$"
               />
            </div>
            <div>
               <label for="title">Title</label>
               <input
                  type="text"
                  id="title"
                  name="title"
                  pattern="[A-Za-z: ]{2,100}"
                  placeholder="Ex: Avatar, Alien, Barbie, etc..."
                  required
               />
            </div>
            <div>
               <button type="submit">Save ticket</button>
            </div>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
