:root {
   /* Thin 100; Light 300; Regular 400; Medium 500; Bold 700 */
   --body-font: 'Montserrat Alternates', sans-serif;
   --logo-font: 'Monoton', cursive;

   --font-variant-color: #eae5d9;

   --background-variant-color: #282121;

   --palete-1-1: #332a1a;
   --palete-1-2: #7c5b41;
   --palete-1-3: #efdcd3;
   --palete-1-4: #aa574b;
   --palete-1-5: #541c13;

   --palete-2-1: #ebd5b8;
   --palete-2-2: #efbc9c;
   --palete-2-3: #ea572a;
   --palete-2-4: #0b4030;
   --palete-2-5: #e39828;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--body-font);
}

/* --------- FOOTER CONTAINER --------- */
.footer-container {
   font-size: 16px;
}

/* --------- FOOTER WAVE --------- */
.footer-wave-container svg {
   position: relative;
   z-index: -100;
   width: 100%;
   height: auto;
   margin-bottom: -0.5rem;
}

/* --------- LOGO --------- */
.footer-logo-container {
   background-color: var(--palete-2-1);
   margin-bottom: -0.5rem;
   padding-bottom: 1rem;
}

.footer-logo {
   text-decoration: none;
   cursor: pointer;
   color: var(--background-variant-color);
   font-family: var(--logo-font);
   font-size: 2.5rem;
   margin-bottom: -0.5rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
}

/* --------- FOOTER LINKS --------- */
.footer-links-container {
   background-color: var(--palete-2-1);
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.footer-links-container p {
   color: var(--background-variant-color);
   font-weight: 500;
   font-size: 1.2rem;
   padding: 0 0.5rem;
}

.footer-social-links {
   display: flex;
   justify-content: center;
   gap: 2rem;
}

.footer-social-links a {
   color: var(--background-variant-color);
   font-size: 1.5rem;
   text-decoration: none;
}

/* --------- FOOTER CONTENT --------- */
.footer-content-container {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1.5rem;
   background-color: var(--palete-2-1);
   margin-top: -0.5rem;
   padding: 2rem 1rem 0;
}

.footer-content-title {
   display: inline-block;
   padding-bottom: 0.5rem;
   margin-bottom: 0.7rem;
   font-size: 1.2rem;
   font-weight: 500;
   border-bottom: 2px solid var(--palete-1-2);
}

.footer-list {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.footer-list a {
   text-decoration: none;
   color: var(--background-variant-color);
}

.footer-list a:hover {
   text-decoration: underline;
}

.footer-list i {
   margin-right: 10px;
   color: var(--background-variant-color);
}

/* --------- COPY --------- */
.footer-copy {
   display: block;
   font-size: 1em;
   background-color: var(--palete-2-1);
   padding: 5rem 0 0.5rem 1rem;
   margin-top: -0.8rem;
   color: #0e0e0e;
}

/* --------- MEDIA QUERYS --------- */
@media (769px <= width) {
   .footer-content-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
   }

   .footer-content {
      max-width: 30ch;
   }
}
